@font-face {
  font-family: "iconfont"; /* Project id 3946083 */
  src: url('iconfont.woff2?t=1678614034472') format('woff2'),
       url('iconfont.woff?t=1678614034472') format('woff'),
       url('iconfont.ttf?t=1678614034472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Sun:before {
  content: "\e9b6";
}

.icon-moon:before {
  content: "\e7bf";
}

.icon-gengduo1:before {
  content: "\e601";
}

.icon-wangyiyun:before {
  content: "\e617";
}

.icon-a-kugou1:before {
  content: "\e62a";
}

.icon-githubb:before {
  content: "\e63b";
}

.icon-mayun:before {
  content: "\e6d0";
}

.icon-blibli:before {
  content: "\e84b";
}

